extends docs_layout

block content
	div.row.main_cleanformatting_invert
		hr

		h1(alig="center") #{platform}-#{type}

		

		div.row

			hr

			p <a href="/api_docs" style="color: #000000;"> #{platform} </a> > <a href="/api_docs/#{platform_path}" style="color: #000000;"> #{type} </a>

			p Sed id ipsum et augue rutrum imperdiet. Nulla et sodales lacus. Suspendisse sagittis nibh vitae dignissim auctor. Suspendisse sed tincidunt odio. Curabitur quis ultrices tortor. Vivamus non risus eros. Quisque cursus leo in consectetur rutrum. Duis pretium volutpat malesuada. Nam et ultrices odio. Sed porta ante vel velit lobortis sagittis. In pulvinar ornare vestibulum. Donec molestie mattis urna in feugiat. Donec rhoncus luctus tellus sollicitudin pellentesque.

			p Sed sed elit metus. Curabitur porta consectetur nibh, sed volutpat est lobortis in. Cras ut tristique nisi. Pellentesque eget nulla at lorem adipiscing placerat varius sed augue. Aenean sit amet volutpat ante. Morbi lacinia tempus nibh, ut dictum nulla suscipit consectetur. Suspendisse potenti. Aenean a dolor aliquam tellus congue volutpat varius at tortor.

			p Aliquam felis enim, feugiat a dictum in, feugiat nec est. Etiam dictum elit et eros ultricies commodo. Sed neque nibh, vulputate sit amet vehicula id, condimentum non leo. Phasellus sodales purus vel mauris suscipit, nec rhoncus eros dignissim. Nulla nulla nulla, adipiscing id risus vel, condimentum hendrerit ante. Integer cursus felis a sem molestie ultrices. Proin elementum sed risus pellentesque tincidunt. Fusce facilisis et justo nec commodo.



		p &nbsp;

